[submodule "d2l-ai"]
	path = d2l-ai
	url = git@github.com:d2l-ai/d2l-zh.git
[submodule "apachecn-c-cpp-zh-pt2"]
	path = apachecn-c-cpp-zh-pt2
	url = https://github.com/apachecn/apachecn-c-cpp-zh-pt2.git
[submodule "multi_threading"]
	path = multi_threading
	url = git@github.com:xuyicpp/multi_threading.git
[submodule "Cpp-Concurrency-in-Action-2ed"]
	path = Cpp-Concurrency-in-Action-2ed
	url = https://github.com/downdemo/Cpp-Concurrency-in-Action-2ed
