[submodule "d2l-ai"]
	path = d2l-ai
	url = git@github.com:d2l-ai/d2l-zh.git
[submodule "apachecn-c-cpp-zh-pt2"]
	path = apachecn-c-cpp-zh-pt2
	url = https://github.com/apachecn/apachecn-c-cpp-zh-pt2.git
[submodule "cpp_new_features"]
	path = cpp_new_features
	url = git@github.com:0voice/cpp_new_features.git
